.cont{
    display:flex;
    
}
.teks{
    flex:3;
}
.gambar{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container-utama{
    margin-right:100px;
    margin-left:100px;
}
.gambar img{
    width:250px;
}